{% extends 'course/dashboard/base_dashboard.html' %}

{% load crispy_forms_tags %}

{% block content %}
<style>

    body {
        background-color: gray;
    }

</style>
<div class="container-fluid col-6 bg-white shadow-md p-5 form-layout">
    <h3>Create Quiz</h3>
    <hr><br>

    <form id="quizForm" method="post">
        {% csrf_token %}

        <input type="text" id="quizId" name="quizId" value="{{quiz.id}}" style="display: none;">
        
        <div class="form-group">
            <label class="form-label" for="quizName">Quiz Name</label><br>
            <input class="form-control" type="text" id="quizName" name="quizName"><br>
        </div>

        <div class="form-group">
            <label class="form-label" for="quizDescription">Quiz Description</label><br>
            <input class="form-control" type="text" id="quizDescription" name="quizDescription"><br>
        </div>

        <div class="form-group">
            <label class="form-label" for="attemptsAllowed">Attempts Allowed</label><br>
            <input class="form-control" type="number" id="attemptsAllowed" name="attemptsAllowed" min="1" value="1"><br>
        </div>

        <div class="form-group">
            <label class="form-label" for="dueDate">Due Date</label><br>
            <input class="form-control" type="datetime-local" id="dueDate" name="dueDate"><br>
        </div>
        <div id="questionsDiv">
        </div>

        <br><br>
        <button type="button" class = "btn btn-primary" id="addQuestionButton">Add Question</button>
        <br>
        <br>
        <input class="btn btn-primary btn-lg w-100" type="submit" value="Submit">
    </form>
    <script>
        let questionCount = 0;
        const QUIZ_TYPES = ['MCQ', 'MCMS', 'FITB', 'TF'];

        function addQuestion() {
            questionCount ++;
            const questionDiv = $('<div>').attr('id', 'question' + questionCount);
            questionDiv.append($('<input>').attr('type', 'text').attr('name', 'questionId' + questionCount).attr('style', 'display: none;'));
    
            questionDiv.append($('<div class="form-group">'));
            questionDiv.append($('<label>').attr('class', 'form-label').text('Question ' + questionCount + ' Text'));
            questionDiv.append($('<input>').attr('class', 'form-control').attr('type', 'text').attr('name', 'questionText' + questionCount));
            questionDiv.append($('</div>'));
            
            questionDiv.append($('<div class="form-group">'));
            questionDiv.append($('<label>').attr('class', 'form-label').text('Question ' + questionCount + ' Type'));
            const select = $('<select>').attr('class', 'form-select').attr('name', 'questionType' + questionCount);
            $.each(QUIZ_TYPES, function(i, val) {
                select.append($('<option>').attr('value', val).text(val));
            });
            questionDiv.append(select);
            questionDiv.append($('</div><br>'));
            
            const removeQuestionButton = $('<button>').attr('name', 'question' + questionCount).attr('type', 'button').attr('class', 'btn btn-danger').text('Remove Question').on('click', function() {
                document.getElementById(this.name).remove();
            });
            questionDiv.append(removeQuestionButton);

            questionDiv.append($('<button>').attr('type', 'button').attr('class', 'btn btn-primary').text('Add Choice').on('click', function() {
                const choiceCount = questionDiv.children('div[id^="choice"]').length + 1;

                const choiceDiv = $('<div>').attr('id', 'choice' + questionCount + '_' + choiceCount);

                choiceDiv.append($('<input>').attr('type', 'text').attr('name', 'choiceId' + questionCount + '_' + choiceCount).attr('style', 'display: none;'));
                
                const choiceTextDiv = $('<div class="form-group">');
                choiceTextDiv.append($('<label>').attr('class', 'form-label').text('Choice ' + choiceCount + ' Text'));
                choiceTextDiv.append($('<input>').attr('class', 'form-control').attr('type', 'text').attr('name', 'choiceText' + questionCount + '_' + choiceCount));
                choiceTextDiv.append($('</div>'));

                choiceDiv.append(choiceTextDiv);

                const choiceCheckDiv = $('<div class="form-group">');
                choiceCheckDiv.append($('<label>').attr('class', 'form-check-label').text('Is Correct'));
                choiceCheckDiv.append('&nbsp;')
                choiceCheckDiv.append($('<input>').attr('class', 'form-check-input').attr('type', 'checkbox').attr('name', 'isCorrect' + questionCount + '_' + choiceCount));
                choiceCheckDiv.append($('</div>'));
                
                choiceDiv.append(choiceCheckDiv);

                const removeChoiceButton = $('<button>').attr('type', 'button').attr('class', 'btn btn-danger').text('Remove Choice').on('click', function() {
                    $(this).prev().prev().remove();
                    $(this).prev().remove();
                    $(this).remove();
                });

                choiceDiv.append(removeChoiceButton);
                choiceDiv.append($('</div>'));
                questionDiv.append(choiceDiv);
            }));
            questionDiv.append($('<br><br>'));
                
            $('#questionsDiv').append(questionDiv);

        }

        $('#addQuestionButton').on('click', addQuestion);
        

        $('#quizForm').on('submit', function(e) {
            e.preventDefault();
            let data = {
                quizName: $('#quizName').val(),
                quizDescription: $('#quizDescription').val(),
                attemptsAllowed: $('#attemptsAllowed').val(),
                dueDate: $('#dueDate').val(),
                questions: []
            };

            // Get all question divs
            let questionDivs = $('#questionsDiv').children('div');
            questionDivs.each(function() {
                let questionData = {
                    text: $(this).children('input[name^="questionText"]').val(),
                    type: $(this).children('select[name^="questionType"]').val(),
                    choices: []
                };

                // Get all choice inputs for this question
                let choiceInputs = $(this).find('input[name^="choiceText"]');
                choiceInputs.each(function() {
                    let choiceNumber = this.name.split('_')[1];
                    let isCorrect = $(this).find('input[name="isCorrect' + questionCount + '_' + choiceNumber + '"]').is(':checked');
                    questionData.choices.push({
                        text: $(this).val(),
                        isCorrect: isCorrect
                    });
                });

                data.questions.push(questionData);
            });

            
            $.ajax({
                type: 'POST',
                url: '{% url 'course:create_quiz' course_id=course.id %}',  // Update with your view URL
                data: JSON.stringify(data),
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(response) {
                    window.location.href = '{% url 'course:list_quizzes' course_id=course.id %}';
                },
                error: function(error) {
                    console.log(error);
                }
            });

        });

    </script>


</div>
{% endblock content %}
