{% extends 'course/dashboard/base_dashboard.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <h1>{{ quiz.name }}</h1>
    <p>{{ quiz.description }}</p>

    <form method="post">
        {% csrf_token %}
        {{ form.quiz.as_hidden }}
        {{ form.user.as_hidden }}
        {% for question in questions %}
            <h2>Question {{ forloop.counter }}: {{ question.question_text }}</h2>
            {{ form.question.as_hidden }}
            {% if question.question_type == 'MCQ' or question.question_type == 'MCMS' %}
                {% for choice in question.choices.all %}
                    <p>
                        {% if question.question_type == 'MCMS' %}
                            <input type="checkbox" name="choice_{{ question.id }}" value="{{ choice.id }}">
                        {% else %}
                            <input type="radio" name="choice_{{ question.id }}" value="{{ choice.id }}">
                        {% endif %}
                        {{ choice.choice_text }}
                    </p>
                {% endfor %}
            {% elif question.question_type == 'FITB' %}
                <input type="text" name="answer_text_{{ question.id }}">
            {% else %}
                <p>
                    <input type="radio" name="choice_{{ question.id }}" value="True"> True
                    <input type="radio" name="choice_{{ question.id }}" value="False"> False
                </p>
            {% endif %}
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Submit Quiz">
    </form>
</div>
{% endblock content %}
