django==4.2.1
boto3
django-storages
pillow
psycopg2-binary
asgiref
botocore
crispy-bootstrap5
django-crispy-forms
django-environ
django-mathfilters
django-storages
django-utils-six
gunicorn
jmespath
python-dateutil
s3transfer
setuptools
six
sqlparse
tzdata
urllib3
Django-PayPal
django-cors-headers
geoip2
django-ipware
opencv-python-headless
