{% extends "user/dashboard/base_dashboard.html" %}
{% load static %}
{% block content %}

<style>
    /*Your styles here*/
</style>

<div class="container-fluid">

    {% if subscription %}

        <div class="row">

            <p> You are currently subscribed to <strong> {{ subscription.type }} </strong> subscription. If you want to change your current subscription, first cancel the current subscription from paypal. </p>

        </div>
        <br>
        <br>

    {% endif %}

    <div class="row">

        {% for subscription_type, details in subs.items %}

            <div class="card col-2 ms-4 mb-3 text-center">
                <div class="card-header">
                    <a class="nav-link" href=""><h3 class="card-title"> {{ details.3 }} </h3></a>
                </div>
                <div class="card-body">
                    <div class="bg-danger p-1 pt-3 w-100">
                        <p> USD <strong>{{ details.0 }}</strong> </p>
                    </div>

                    <div class="pt-2 w-100">
                        <p>*Payments will be auto-deducted.</p>
                    </div>

                    <div class="p-1 pt-2 w-100">
                        <button class="btn btn-primary subscribe-btn" data-subscription-type="{{ subscription_type }}"> Subscribe </button>
                    </div>

                </div>
            </div>

        {% endfor %}
 
    </div>

</div>

<script>

    $(document).ready(function() {
        $('.subscribe-btn').click(function() {
            var subscriptionType = $(this).data('subscription-type');
            $.ajax({
                type: "POST",
                url: "{% url 'payment:subscription' %}",
                data: {
                    subscription_type: subscriptionType,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    window.location.href = "{% url 'payment:process_subscription'%}";
                },
                error: function(response) {
                    // Handle error here
                    alert('Subscription Failed');
                }
            });
        });
    });
    

</script>

{% endblock %}
