{% extends 'user/dashboard/base_dashboard.html' %}

{% load static %}

{% block content %}

<style>

    body {
        background-color: gray;
    }

</style>

<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">

        <div class="text-center">
            <i class="text-success fa fa-credit-card-alt fa-3x" aria-hidden="true"></i>
            <br><br>

            <h5> Payment Success! </h5>
            <hr>
            <p> Your have successfully subscribed. </p>
            
        </div>
    </div>
</body>

{% endblock content %}