{% extends 'course/dashboard/base_dashboard.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h3> Assignments</h3>
        </div>
        {% if user.is_authenticated and user.user_type == 'I' %}
        <div class="col">
            <a href="{% url 'course:create_assignment' course_id=course.id %}" class="btn btn-primary float-end">Create Assignment</a>
        </div>
        {% endif %}
    </div>
    <br>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Description</th>
            <th class="text-center">Attempts Allowed</th>
            {% if user.is_authenticated and user.user_type == 'I' %}
                <th class="text-center">Published</th>
            {% endif %}
            <th class="text-center">Creation Date</th>
            <th class="text-center">Due Date</th>
        </tr>
    </thead>
    <tbody>
        {% for assignment in assignments %}
            <tr>
                <td class="text-center"><a href="{% url 'course:view_assignment' course_id=course.id assignment_id=assignment.id %}">{{ assignment.title }}</a></td>
                <td class="text-center">{{ assignment.description }}</td>
                <td class="text-center">{{ assignment.attemptsAllowed }}</td>
                {% if user.is_authenticated and user.user_type == 'I' %}
                    {% if assignment.is_published %}
                        <td class="text-center"><span><i class="fa fa-check"></i></span></td>
                    {% else %}
                        <td class="text-center"><span><i class="fa fa-times"></i></span></td>
                    {% endif %}
                {% endif %}
                <td class="text-center">{{ assignment.creation_date }}</td>
                <td class="text-center">{{ assignment.due_date }}</td>
            </tr>
        {% empty %}
            <tr>
                <td  class="text-center" colspan="5">No assignments found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


</div>
{% endblock content %}