{% extends 'course/dashboard/base_dashboard.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 15px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h3> Assignments</h3>
        </div>
        {% if user.is_authenticated and user.user_type == 'I' %}
        <div class="col">
            <a href="{% url 'course:create_assignment' course_id=course.id %}" class="btn btn-primary float-end">Create Assignment</a>
        </div>
        {% endif %}
    </div>
    <br>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Creator</th>
            <th>Creation Date</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        {% for assignment in assignments %}
            <tr>
                <td><a href="{% url 'course:view_assignment' course_id=course.id assignment_id=assignment.id %}">{{ assignment.title }}</a></td>
                <td>{{ assignment.description }}</td>
                <td>{{ assignment.creator.get_full_name }}</td>
                <td>{{ assignment.created_at }}</td>
                <td>{{ assignment.due_date }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No assignments found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


</div>
{% endblock content %}