<!DOCTYPE html>
<html>
<head>
    <title>403 Forbidden</title>
    <style>
        body {
            text-align: center;
            padding: 10%;
            font-family: Arial, sans-serif;
            background-color: #F7F7F7;
        }
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>403 Forbidden</h1>
    <p>Sorry, but you do not have permission to access this page.</p>
    <a href="/">Go back to Home Page</a>
</body>
</html>
