{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Scholar Stream</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        &nbsp;
        <a class="navbar-brand" href="{% url 'course:list'%}">Scholar Stream</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item mr-auto">
                    <a class="nav-link" href="{% url 'course:detail' pk=course.id%}">Course Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'course:detail' pk=course.id%}">Content</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'course:list_assignments' course_id=course.id%}">Assignments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'course:list_quizzes' course_id=course.id%}">Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'course:grades' course.id %}">Grades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'course:progress' course_id=course.id%}">Progress</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="btn btn-alert navbar-btn text-white" type="button"  href="{% url 'user:logout' %}"> <i class="fa fa-sign-out"></i> &nbsp; Logout </a>
                </li>
            </ul>
        </div>
    </nav>
    <br>

    
    <br>

    <style>
        .nav-anchor-link {
            text-decoration: none;
            color: black;
        }
    </style>

   {% block content %}
   
   
   {% endblock content %}

</body>
</html>