{% extends 'course/dashboard/base_dashboard.html' %}

{% block content %}

<style>
    a {
        text-decoration: none;
    }
    .accordion-container {
        max-height: 400px;
        overflow-y: auto;
    }
</style>

  <div class="container">
    <div class="row">
        <div class="col-2">
            <img src="{{ course.thumbnail.url }}" class="" alt="{{ course.name }} thumbnail" style="width: 175px; height: 175px; object-fit: cover;">
        </div>
        <div class="col-5">
            <h1 class="card-title">{{ course.name }}</h1>
            <p class="card-text">{{ course.description }}</p>
        </div>
    </div>

    <div class="accordion my-5" id="accordion1">
        <!-- Assignments -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="assignmentsHeading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#assignmentsCollapse" aria-expanded="false" aria-controls="assignmentsCollapse">
                    <strong>Assignments</strong>
                </button>
            </h2>
            <div id="assignmentsCollapse" class="accordion-collapse collapse show" aria-labelledby="assignmentsHeading" data-bs-parent="#accordion1">
                <div class="accordion-body accordion-container">
                    <div class="row justify-content-center">
                        {% for assignment in assignments %}
                            <div class="col-md-4 m-2 p-3 card mb-2">
                                <div class="card-body">
                                <a href="{% url 'course:view_assignment' course.id assignment.id %}"><h3 class="card-title">{{ assignment.title }}</h3></a>
                                <p class="card-text">{{ assignment.description }}</p>
                                <p class="card-subtitle mb-2"><strong>Due date</strong>: {{ assignment.due_date }}</p>
                                <p class="card-subtitle mb-2"><strong>Attempts allowed</strong>: {{ assignment.attemptsAllowed }}</p>
                                <p class="card-subtitle mb-2"><strong>Created on</strong>: {{ assignment.creation_date }}</p>
                                </div>
                            </div>
                        {% empty %}
                        <div class="alert alert-warning" role="alert">
                            No assignments available for this course yet.
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion my-5" id="accordion2">
        <div class="accordion-item">
            <h2 class="accordion-header" id="quizzesHeading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#quizzesCollapse" aria-expanded="false" aria-controls="quizzesCollapse">
                    <strong>Quizzes</strong>
                </button>
            </h2>
            <div id="quizzesCollapse" class="accordion-collapse collapse show" aria-labelledby="quizzesHeading" data-bs-parent="#accordion2">
                <div class="accordion-body accordion-container">
                    <div class="row justify-content-center">
                        {% for quiz in quizzes %}
                            <div class="col-md-4 m-2 p-3 card mb-2">
                                <div class="card-body">
                                    <a href="{% url 'course:attempt_quiz' course.id quiz.id %}"><h3 class="card-title">{{ quiz.name }}</h3></a>
                                    <p class="card-text">{{ quiz.description }}</p>
                                    <p class="card-subtitle mb-2"><strong>Due date</strong>: {{ quiz.due_date }}</p>
                                    <p class="card-subtitle mb-2"><strong>Attempts allowed</strong>: {{ quiz.attempts_allowed }}</p>
                                    <p class="card-subtitle mb-2"><strong>Created on</strong>: {{ quiz.creation_date }}</p>
                                </div>
                            </div>
                        {% empty %}
                        <div class="alert alert-warning" role="alert">
                            No quizzes available for this course yet.
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>       

    <div class="accordion my-5" id="accordion3">
        <div class="accordion-item">
            <h2 class="accordion-header" id="lessonsHeading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#lessonsCollapse" aria-expanded="false" aria-controls="lessonsCollapse">
                    <strong>Lessons</strong>
                </button>
            </h2>
            <div id="lessonsCollapse" class="accordion-collapse collapse show" aria-labelledby="lessonsHeading" data-bs-parent="#accordion3">
                <div class="accordion-body accordion-container">
                    <div class="row justify-content-center">
                        {% for lesson in lessons %}
                            <div class="text-center col-md-2 m-2 p-3 card mb-2">
                                <div class="card-body">
                                <a href="{% url 'course:view_lesson' course.id lesson.id %}"><h3 class="card-title">{{ lesson.title }}</h3></a>
                                </div>
                            </div>
                        {% empty %}
                        <div class="alert alert-warning" role="alert">
                            No lessons available for this course yet.
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
{% endblock %}