{% extends 'course/dashboard/base_dashboard.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Left Navigation Pane -->
        <div class="col-md-3 bg-dark p-3" style="height: 100vh; overflow-y: auto;">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <i class="fa fa-link"></i> Link
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <i class="fa fa-envelope"></i> Another Link
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-9 p-3">
            <div class="accordion" id="accordionLesson">
                <div class="accordion-item">
                <h2 class="accordion-header" id="{{lesson.id}}">
                    <div class="d-flex justify-content-between">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ lesson.id }}" aria-expanded="true"
                                aria-controls="collapse{{ lesson.id }}">
                            {{ lesson.title }}
                        </button>
                        <a href="{% url 'course:download_lesson_content' course.id lesson.id %}"
                            class="btn btn-primary m-2"><i class="fa fa-download"></i></a>
                    </div>
                </h2>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
                </div>
                {% if user.is_authenticated and user.user_type == 'I' %}
                    <div class="row">
                        <a href="{% url 'course:add_content' course_id=course.id lesson_id=lesson.id %}" class="offset-md-9 col-md-2 mt-2 mr-5 btn btn-primary">Add Content</a>
                    </div>
                {% endif %}
                <br>
                <div id="collapse{{lesson.id}}" class="accordion-collapse collapse show" aria-labelledby="{{lesson.id}}" data-bs-parent="#accordionLesson">
                    <div class="accordion-body">
                        {% if contents|length == 0 %}
                            <p>No content available</p>
                        {% endif %}
                        {% for content, viewed in contents %}
                            <a class="content-link {% if viewed %}viewed{% endif %}" href="{% url 'course:view_content' content_id=content.id%}">
                                <div class="card {% if viewed %}bg-success{% else %}bg-secondary{% endif %} text-white text-center mb-4">
                                    <div class="card-body">
                                        <h5 class="card-title">{{content.title}}</h5>
                                        {% if viewed %}
                                            <span class="badge bg-light text-dark">Completed</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>

  </div>

{% endblock content %}