{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid bg-white shadow-md p-5 col-sm-6 form-layout">
        <h2 class="my-3 text-center">Add Course</h2>
        <br>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-primary w-100 btn-lg">Add Course</button>
        </form>
        <br>
    </div>
    <style>

        body {
            background-color: gray;
        }

    </style>
{% endblock %}
