{% extends 'course/dashboard/base_dashboard.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    a {
        text-decoration: none;
        color: black;
    }

    .breadcrumb-item a {
        color: #007bff;
    }
    
    .breadcrumb-item.active {
        color: #6c757d;
    }
</style>

<div class="container-fluid p-3">

    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'course:detail' pk=course.id%}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'course:view_lesson' course_id=course.id lesson_id=content.lesson.id %}">{{ content.lesson.title }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ content.title }}</li>
            </ol>
        </nav>        
    </div>


    <h2> {{ content.title }} </h2>
    {% if content.content_type == "TEXT" %}
        <p>{{ content.text_content }}</p>
    {% elif content.content_type == "IMAGE" %}
        <img src="{{ content.image_content.url }}" alt="{{ lesson.title }}">
        <a href="{{ content.image_content.url }}" download class="btn btn-primary">
            <i class="fa fa-download"></i> Download Image</a>
    {% elif content.content_type == "PDF" %}
        <embed src="{{ content.pdf_content.url }}" type="application/pdf" width="100%" height="600px">
        <a href="{{ content.pdf_content.url }}" download class="btn btn-primary">
            <i class="fa fa-download"></i> Download PDF</a>
    {% elif content.content_type == "WEBPAGE" %}
        <iframe src="{{ content.webpage_content }}" width="100%" height="600"></iframe>
    {% elif content.content_type == "AUDIO" %}
        <audio controls>
            <source src="{{ content.audio_content.url }}" type="{{ content.audio_type }}">
            Your browser does not support the audio element.
        </audio>
        <a href="{{ content.audio_content.url }}" download class="btn btn-primary">
            <i class="fa fa-download"></i> Download Audio</a>
    {% elif content.content_type == "VIDEO" %}
        <video width="320" height="240" controls>
            <source src="{{ content.video_content.url }}" type="{{ content.video_type }}">
            Your browser does not support the video tag.
        </video>
        <a href="{{ content.video_content.url }}" download class="btn btn-primary">
            <i class="fa fa-download"></i> Download Video</a>

    {% elif content.content_type == "OTHER" %}

        <a href="{{ content.other_content.url }}" download class="btn btn-primary">
            <i class="fa fa-download"></i> Download File</a>

    {% endif %}
</div>

{% endblock %}